/* Form styling */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;
}

input[type="text"],
input[type="number"],
input[type="date"],
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  font-size: 1rem;
}

.search-bar {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 15px 0;
  box-sizing: border-box;
  font-size: 1rem;
}
